<nav id="navi">
  <ul>
    <li><a href="index.html"><img src="home.png" alt="tekst alternatywny" width="30" height="30"/></a></li>
    <li><a href="#second">Blog</a></li>
    <li><a href="quiz.html">Quiz</a></li>
    <li><a href="kontakt.html" >Kontakt</a></li>
  </ul>
</nav>

<h1 class="h2">Quiz o grach</h1>

<div id="myProgress">
  <div id="myBar">10%</div>
</div>

<div class="quiz-container">
  <div class="quiztest" id="quiz"></div>
</div>
<div class="quiz-container">
  <button id="previous">Poprzednie</button>
  <button class="buttonright" id="next" onclick="move()">Następne</button>
  <button id="submit">Sprawdz Quiz</button>
  <div class="result">
    <div id="results"></div>
  </div>
</div>

<script src="quiz.js"></script>
