<nav id="navi">
  <ul>
    <li><a href="index.html"><img src="home.png" alt="tekst alternatywny" width="30" height="30"/></a></li>
    <li><a href="#second">Blog</a></li>
    <li><a href="quiz.html">Quiz</a></li>
    <li><a href="kontakt.html" >Kontakt</a></li>
  </ul>
</nav>

<form>

  Imię:<br/>
  <input name="Imię" align="" placeholder="Podaj imie"/><br />

  Nazwisko:</br>
  <input name="Nazwisko" placeholder="Podaj nazwisko"/><br/>

  E-mail:</br>
  <input name="E-mail" placeholder="Podaj E-mail"/><br/>

  Płeć</br>
  <input type="radio" name="Płeć" value="Kobieta" />Kobieta
  <input type="radio" name="Płeć" value="Mężczyzna" />Mężczyzna<br/>

  Opis</br>
  <textarea name="Opis" cols="50" rows="10"></textarea><br/>

  Wiek:</br>
  <input type="number" name="age" id="age" min="18"/><br/>

  Stan cywilny</br>
  <select id="stancywilny" name="stancywilny" >
    <option>Panna/Kawaler</option>
    <option>Mężatka/Żonaty</option>
    <option>Wdowa/Wdowiec</option>
  </select><br/><br/>

  <input type="reset" value="Wyczyść"/>
  <input type="submit" value="Wyślij"><br/>


</form>

</center>
